.section2{
    background-color: #A1C1BE;;
    padding: 50px;
}
.gambar{
    margin-left: 10px;
    margin-top: 5%;
}
.card-title{
    margin-top: 5%;
}
.section3{
    background-color: #59554E;;
    padding: 50px;
}

.card-text2{
    color: white;
      
}
.card-title2{
    margin-top: 5%;
    color: white;
}
#pilihKantin{
    background-color:whitesmoke;
    margin-left: 10%;
    margin-top:5%;
    margin-right:10%;
}
#kantinul{
    list-style-type: none;
}
.kantinp{
    color: black;
    font-size: 150%;
}

.photos{
    width: 200px;
    height: 200px;
}
